name: Test

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

  schedule:
    - cron: '22 23 * * 5'

jobs:
  test:
    name: Test

    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest', 'macOS-latest' ]
        java: [ '8', '11', '17' ]
        maven: [ '3.5.4', '3.6.3', '3.8.4' ]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2.4.0

      - uses: ./
        with:
          java-version: ${{ matrix.java }}
          maven-version: ${{ matrix.maven }}
          cache-prefix: 'test-prefix-'

      - run: mvn -V validate -Drequire.java=${{ matrix.java }} -Drequire.maven=${{ matrix.maven }}
        shell: bash

  test-deault:
    name: Test with defaults
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - uses: ./
        with:
          java-version: 8

      - run: mvn -V validate -Drequire.java=8 -Drequire.maven=3.8.3
        shell: bash

  test-ok:
    name: Test OK
    runs-on: ubuntu-latest
    needs: [ test, test-deault ]
    steps:
      - run: echo OK
